.primary {
  background-color: var(--primary) !important;
  border-radius: 30px !important;
  width: 100% !important;
  padding: 0.2rem 0.5rem !important;
  font-size: medium !important;
  font-weight: bold !important;
}
