.bar {
  position: sticky;
  bottom: 0;
  color: var(--primary);
  width: 100%;
  margin: auto;
  max-width: 704px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;

  button {
    padding: 0;
  }
  p {
    padding: 0;
    margin: 0;
  }
  .box {
    max-width: 70vw;
    background-color: var(--white);
    padding: 0.5rem 1rem;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
    font-size: small;
    font-weight: bold;
    color: var(--dark);
  }

  .large {
    width: 56px;
    height: 56px;
    background-color: white;
    border: none;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    padding: 0;
  }
  .small {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    gap: 0.5rem;
    p {
      color: var(--dark);
    }

    &.highlight {
      .button {
        background-color: var(--primary);
        svg {
          fill: var(--white);
        }
      }
      p {
        color: var(--primary);
      }
    }
  }

  .button {
    background-color: white;
    border: none;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.glass {
  padding-top: 1rem;
  background: transparent;

  backdrop-filter: blur(13.3px);
  -webkit-backdrop-filter: blur(13.3px);
}
