.onboarding {
  background-color: var(--light);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    color: var(--primary);
    font-size: 2rem;
    margin-bottom: 0;
  }

  p {
    color: var(--gray);
    text-align: center;
    font-size: small;
  }

  section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    margin-bottom: 2rem;
    div {
      display: flex;
      justify-content: center;
      align-items: stretch;
    }
    button {
      background-color: transparent;
      color: var(--primary);
    }
    input {
      background-color: transparent;
      border: 1px solid var(--primary);
      padding: 1rem;
      border-radius: 25px;
    }
  }
}

.nav {
  position: absolute;
  top: 20px;
  left: 20px;
}
